<ng-container *ngIf="serie$ | async as serie; else notFound">
  <div class="serie-details">
    <div class="serie-image">
      <img src="{{serie?.image}}" alt="{{serie?.name}}"/>
    </div>
    <div class="serie-info">
      <h2>{{serie?.name}}</h2>
      <p class="serie-editor">{{serie?.editor?.name}}</p>
      <p class="serie-description">{{serie?.description}}</p>
    </div>
  </div>

  <h2>Comics de la série {{serie?.name}}</h2>

  <app-scrollableBooksList [books]="serie?.books"></app-scrollableBooksList>
</ng-container>

<ng-template #notFound>
  <p class="not-found-message">Série non trouvé :'(</p>
</ng-template>
