<nav class="navbar">
  <a [routerLink]="['/']"><img class="logo" src="../../../assets/images/logo1.png"></a>
  <h1 [routerLink]="['/']" class="nav-title">Marvelicious</h1>
  <div class="nav-links">
    <a [routerLink]="['/']" class="nav-object">Home</a>
    <a [routerLink]="['/books']" class="nav-object">Comics</a>
    <a [routerLink]="['/series']" class="nav-object">Séries</a>
    <a [routerLink]="['/editors']" class="nav-object">Éditeurs</a>
  </div>
  <div class="nav-auth">
    <button class="auth-button"><img src="assets/images/user.png"></button>
    <div class="auth-menu">
      <a [routerLink]="['/login']">Connexion</a>
      <a [routerLink]="['/signup']">Inscription</a>
    </div>
  </div>
</nav>
