.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #FFF;
  color: #000;

}

.navbar .logo {

}

.nav-title {
  margin-left: 10px;
  font-size: 35px;
}

.navbar .nav-links {
  display: flex;
  font-size: 16px;
}

.navbar .nav-links a {
  margin-left: 20px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar .nav-links a:hover {
  color: #FFC107;
  text-decoration: underline;
}
