.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #444444;
  color: #fff;
}

.navbar .logo {
  margin-left: 10px;
}

.nav-title {
  margin-left: 10px;
  font-size: 30px;
}

.navbar .nav-links {
  display: flex;
  font-size: 16px;
}

.navbar .nav-links a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar .nav-links a:hover {
  color: #FFC107;
  text-decoration: underline;
}
