<ng-container *ngIf="book$ | async as book; else notFound">
  <div class="book-details">
    <div class="book-image">
      <img src="{{book?.image}}" alt="{{book?.title}}"/>
    </div>
    <div class="book-info">
      <h2>{{book?.title}}</h2>
      <p class="book-author">{{book?.author}}</p>
      <p class="book-illustrator">{{book?.illustrator}}</p>
      <p class="book-date">{{book?.date}}</p>
      <p class="book-description">{{book?.description}}</p>
      <p class="book-series">{{book?.serie?.name}}</p>
      <p class="book-editor">{{book?.serie?.editor?.name}}</p>
    </div>
  </div>

  <h2>Autres comics de la série {{book?.serie?.name}}</h2>

  <app-scrollableBooksList [books]="book?.serie?.books"></app-scrollableBooksList>

  <app-comments [comments]="book?.comments"></app-comments>
</ng-container>
<ng-template #notFound>
  <p class="not-found-message">Comic non trouvé :'(</p>
</ng-template>
