<div class="signup-form-container">
  <h2>Inscription</h2>
  <form class="signup-form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" required [(ngModel)]="signupData.email">
    </div>
    <div class="form-group">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" id="username" name="username" required [(ngModel)]="signupData.username">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password" required [(ngModel)]="signupData.password">
    </div>

    <button type="submit">S'inscrire</button>
  </form>
  <div class="login-link">
    <a [routerLink]="['/login']">Vous avez déjà un compte ? Connectez vous</a>
  </div>
</div>

<app-popup #popup [popupTitle]="title" [popupMessage]="message"></app-popup>
