<ng-container *ngIf="user$ | async as user; else notFound">
  <div class="user-details">
    <div class="user-image">
      <img src="{{user?.image}}" alt="{{user?.username}}"/>
    </div>
    <div class="user-info">
      <h2>{{user?.username}}</h2>
      <p class="user-mail">{{user?.email}}</p>
      <p class="user-role">{{user?.role}}</p>
      <p class="user-username">{{user?.username}}</p>
      <p class="user-password">{{user?.password}}</p>
    </div>
  </div>

  <h2 class="user-library">Ma librairie : </h2>

  <ng-container *ngIf="borrowings$ | async as borrowings;">
    <app-scrollableBorrowingsList [borrowings]="borrowings"></app-scrollableBorrowingsList>
  </ng-container>
</ng-container>

<ng-template #notFound>
  <p class="not-found-message">Utilisateur non trouvé :'(</p>
</ng-template>
