<ng-container *ngIf="editor$ | async as editor; else notFound">
  <div class="editor-details">
    <div class="editor-image">
      <img src="{{editor?.image}}" alt="{{editor?.name}}"/>
    </div>
    <div class="editor-info">
      <h2>{{editor?.name}}</h2>
      <p class="editor-description">{{editor?.description}}</p>
    </div>
  </div>

  <h2>Séries de comics de l'éditeur {{editor?.name}}</h2>
</ng-container>

<ng-template #notFound>
  <p class="not-found-message">Editeur non trouvé :'(</p>
</ng-template>
